src/b-mr-review-bot/ReviewBot Simple.json
{
  "name": "B: ReviewBot Simple (전체 리뷰)",
  "nodes": [
    {
      "parameters": {
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [672, 320],
      "id": "ac470788-7349-4c46-ad3f-844819f8be09",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://lab.ssafy.com/api/v4/projects/{{ $('Set MR Info').item.json.project_id }}/merge_requests/{{ $('Set MR Info').item.json.iid }}/notes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gitlabApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1184, 0],
      "id": "cc7f9b65-e45b-4f95-83a1-4d3b408b4122",
      "name": "Write Total Comment",
      "credentials": {
        "gitlabApi": {
          "id": "YOUR_GITLAB_CREDENTIAL_ID",
          "name": "GitLab"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=다음 MR을 검토하고, 코드 리뷰 코멘트를 작성해주세요.\n\n# MR 정보:\n{{ \n  $json.title + \"\\n\\n\" +\n  $json.description + \"\\n\\n대상 브랜치: \" +\n  $json.source_branch + \" → \" +\n  $json.target_branch\n}}\n\n# 변경된 파일:\n{{ \n  $json.changes.map(file => `- ${file.file_path}`).join('\\n')\n}}\n\n# 실제 변경사항:\n{{ \n  $json.changes.map(file => {\n    return `## ${file.file_path}\\n\\n\\`\\`\\`\\n${file.diff}\\n\\`\\`\\`\\n\\n`;\n  }).join('')\n}}\n",
        "options": {
          "systemMessage": "=당신은 10년차 개발자입니다. 같은 팀의 동료가 제출한 MR을 리뷰합니다.\n\n작성 가이드라인:\n\n- 전체 코드를 검토한 후 정말 중요한 이슈만 2-3개 선별해서 리뷰하세요.\n- 마크다운 형식(#, ##, - 등)을 절대 사용하지 마세요. (`) 같은 코드 형식은 가능합니다.\n- 파일별 구분이나 섹션 구분 없이, 일반 텍스트로만 작성하세요.\n- 자연스러운 대화체로 작성하되, 한 문단의 길이는 5-6문장을 넘지 않도록 하세요.\n- 불필요한 인사말이나 형식적인 문구는 대신 \"안녕하세요! MR 잘 봤습니다.\"처럼 가벼운 인사말로 시작하세요.\n- 마지막에는 다른 팀원들도 토론에 참여할 수 있는 열린 질문으로 마무리하세요.\n- 마지막 말에서 한 칸 띄우고 \"이 리뷰는 참고용으로 활용하시고 반드시 직접 검증해 보셔야 합니다!\"라는 안내 문구를 포함하세요."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [848, 0],
      "id": "e7b1e6f7-fd71-4a8a-903f-1f156c1dc281",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7d5f726-2ca7-4e4c-a285-5f9a71193346",
              "name": "project_id",
              "value": "={{ $('Get MR Changes').item.json.project_id }}",
              "type": "string"
            },
            {
              "id": "15e37193-c37d-4104-82ba-66aead4b68dd",
              "name": "iid",
              "value": "={{ $('Get MR Changes').item.json.iid }}",
              "type": "string"
            },
            {
              "id": "763d0020-7a4b-48fe-8bd0-6d02cef3defb",
              "name": "title",
              "value": "={{ $('Get MR Changes').item.json.title }}",
              "type": "string"
            },
            {
              "id": "4521f3a8-9eda-42e1-b515-9e1829d9907f",
              "name": "description",
              "value": "={{ $('Get MR Changes').item.json.description }}",
              "type": "string"
            },
            {
              "id": "50e0871a-99b6-4c84-b3a0-ddc6a096c726",
              "name": "source_branch",
              "value": "={{ $('Get MR Changes').item.json.source_branch }}",
              "type": "string"
            },
            {
              "id": "c2e655a9-37ea-4c4b-a6f2-d77699d09270",
              "name": "target_branch",
              "value": "={{ $('Get MR Changes').item.json.target_branch }}",
              "type": "string"
            },
            {
              "id": "61902db2-aa33-47cd-9ae6-90d4e7dea8f0",
              "name": "changes",
              "value": "={{ $json.changes }}",
              "type": "array"
            },
            {
              "id": "2eb9fc1f-d92b-4a31-b2e4-1f2bc1bbc760",
              "name": "change_type_counts",
              "value": "={{ $json.change_type_counts }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [640, 0],
      "id": "12f539fc-8da5-462c-863f-d35ef9d886d4",
      "name": "Set MR Info"
    },
    {
      "parameters": {
        "url": "=https://lab.ssafy.com/api/v4/projects/{{ $json.body?.project.id || $json.project.id }}/merge_requests/{{ $json.body?.merge_request.iid || $json.object_attributes.iid }}/changes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gitlabApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [208, 0],
      "id": "4355c264-9245-4998-85ed-dedfc783daf8",
      "name": "Get MR Changes",
      "credentials": {
        "gitlabApi": {
          "id": "YOUR_GITLAB_CREDENTIAL_ID",
          "name": "GitLab"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Code 노드: 바이너리 및 미디어 파일 필터링 추가\nconst changes = $input.item.json.changes || [];\nlet processedChanges = [];\n\n// 코드 리뷰가 불필요한 파일 확장자 목록\nconst skipExtensions = [\n  // 이미지 파일\n  '.jpg', '.jpeg', '.png', '.gif', '.svg', '.ico', '.webp', '.bmp', '.tiff',\n  // 오디오 파일\n  '.mp3', '.wav', '.ogg', '.flac', '.aac', '.m4a',\n  // 비디오 파일\n  '.mp4', '.webm', '.avi', '.mov', '.mkv', '.flv',\n  // 문서 및 기타 바이너리 파일\n  '.pdf', '.doc', '.docx', '.xls', '.xlsx', '.ppt', '.pptx',\n  // 압축 파일\n  '.zip', '.rar', '.tar', '.gz', '.7z',\n  // 기타 바이너리 파일\n  '.bin', '.exe', '.dll', '.so', '.dylib',\n  // 폰트 파일\n  '.ttf', '.otf', '.woff', '.woff2',\n  // 기타 미디어 리소스\n  '.psd', '.ai', '.sketch'\n];\n\n// 파일 필터링 및 처리 함수\nfunction shouldProcessFile(filePath) {\n  const lowerPath = filePath.toLowerCase();\n  // 확장자 기반 필터링\n  for (const ext of skipExtensions) {\n    if (lowerPath.endsWith(ext)) return false;\n  }\n  \n  // 특정 디렉토리 필터링 (예: assets, public/images 등)\n  const skipDirs = ['node_modules/', 'dist/', 'build/'];\n  for (const dir of skipDirs) {\n    if (lowerPath.includes(dir)) return false;\n  }\n  \n  return true;\n}\n\n// 바이너리 파일 감지 보조 함수 (diff 내용으로 판단)\nfunction isBinaryContent(diff) {\n  // 바이너리 파일의 diff는 종종 \"Binary files ... differ\" 같은 메시지를 포함함\n  if (diff.includes('Binary files') && diff.includes('differ')) return true;\n  \n  // NULL 바이트 감지 (바이너리 파일 표시)\n  if (diff.includes('\\0')) return true;\n  \n  // Base64 인코딩된 내용이 지배적인지 확인 (이미지 데이터 등)\n  const base64Pattern = /^[A-Za-z0-9+/=]{20,}$/m;\n  const lines = diff.split('\\n');\n  let base64Lines = 0;\n  \n  for (let i = 0; i < Math.min(lines.length, 10); i++) {\n    if (base64Pattern.test(lines[i])) base64Lines++;\n  }\n  \n  // 상당수의 라인이 base64로 인코딩된 것으로 보이면 바이너리로 취급\n  return base64Lines > 5;\n}\n\n// 파일 변경 유형 판단 함수 추가\nfunction getChangeType(change) {\n  const {new_path, old_path, diff} = change;\n  \n  // 파일 삭제 감지\n  if (new_path === '/dev/null' || diff.startsWith('deleted file mode')) {\n    return 'delete';\n  }\n  \n  // 파일명 변경만 있는 경우 감지\n  if (old_path !== new_path && old_path !== '/dev/null') {\n    // diff 내용 검사\n    const actualDiffLines = diff.split('\\n')\n      .filter(line => line.startsWith('+') || line.startsWith('-'))\n      .filter(line => !line.startsWith('+++') && !line.startsWith('---'));\n    \n    // 실제 내용 변경이 없으면 rename으로 판단\n    if (actualDiffLines.length === 0) {\n      return 'rename';\n    }\n    \n    // 이름 변경과 함께 내용 변경이 있는 경우\n    return 'rename+modify';\n  }\n  \n  // 새 파일 추가\n  if (old_path === '/dev/null' || diff.startsWith('new file mode')) {\n    return 'add';\n  }\n  \n  // 기본은 수정으로 간주\n  return 'modify';\n}\n\n// 변경사항 필터링 및 처리\nfor (const change of changes) {\n  const {old_path, new_path, diff} = change;\n  const changeType = getChangeType(change);\n  \n  // 리뷰가 필요한 변경 유형 필터링\n  // 'add'와 'modify', 'rename+modify'만 처리하고 'rename'과 'delete'는 제외\n  if ((changeType === 'add' || changeType === 'modify' || changeType === 'rename+modify') &&\n      shouldProcessFile(new_path) && \n      !isBinaryContent(diff)) {\n    \n    // 큰 파일 요약 (이전 코드와 동일)\n    const isTooLarge = diff.length > 10000;\n    const processedDiff = isTooLarge \n      ? `${diff.substring(0, 5000)}... (내용 생략) ...${diff.substring(diff.length - 5000)}` \n      : diff;\n    \n    processedChanges.push({\n      file_path: new_path,\n      old_path: old_path !== new_path ? old_path : null,\n      change_type: changeType,\n      is_summarized: isTooLarge,\n      diff: processedDiff\n    });\n  }\n}\n\n// 변경 유형별 카운트 추가 (선택사항, 로깅용)\nconst typeCounts = {\n  add: changes.filter(c => getChangeType(c) === 'add').length,\n  modify: changes.filter(c => getChangeType(c) === 'modify').length,\n  delete: changes.filter(c => getChangeType(c) === 'delete').length,\n  rename: changes.filter(c => getChangeType(c) === 'rename').length,\n  'rename+modify': changes.filter(c => getChangeType(c) === 'rename+modify').length\n};\n\n// MR 기본 정보\nconst mrInfo = {\n  // 기존 정보와 동일\n  changes: processedChanges,\n  // 디버깅/로깅용 정보\n  change_type_counts: typeCounts\n};\n\nreturn {json: mrInfo};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [432, 0],
      "id": "52a3f7b0-8676-4846-aceb-625afbe01ac8",
      "name": "MR Preprocessing"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=n8n-rev-{{ $('Set MR Info').item.json.project_id }}-{{ $('Set MR Info').item.json.iid }}",
        "sessionTTL": 86400,
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [928, 336],
      "id": "31997024-6640-4506-accf-3305772d5d1c",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "YOUR_REDIS_CREDENTIAL_ID",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "id": "9423c043-ab44-47d0-b76d-e2ef69269e2d",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "content": "## 📋 ReviewBot Simple — 설정 가이드\n\n이 워크플로우는 **ReviewBot (메인)** 에서 호출되는 서브 워크플로우입니다.\n직접 실행하지 않고, 메인 워크플로우에 연결해서 사용합니다.\n\n### 필요한 Credentials\n- **GitLab API**: `Get MR Changes`, `Write Total Comment` 노드에 적용\n  - GitLab Personal Access Token (`api` 스코프)\n- **Google Gemini(PaLM) API**: `Google Gemini Chat Model` 노드에 적용\n  - Google AI Studio에서 API Key 발급\n- **Redis**: `Redis Chat Memory` 노드에 적용\n  - Redis 서버 Host, Port, Password 입력\n\n### 동작 방식\n1. MR 전체 변경사항을 GitLab API로 가져옴\n2. 바이너리/미디어 파일 등 불필요한 파일 필터링\n3. AI Agent가 전체 변경사항을 분석하여 코드 리뷰 작성\n4. GitLab MR에 전체 코멘트로 자동 등록\n\n### GitLab URL 확인\n`Get MR Changes` / `Write Total Comment` 노드의 URL에서\n`https://lab.ssafy.com` 부분이 본인 GitLab 서버 주소와 일치하는지 확인하세요.",
        "height": 440,
        "width": 560,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, -480],
      "id": "setup-guide-simple-reviewbot-001",
      "name": "Setup Guide Simple"
    },
    {
      "parameters": {
        "content": "## ✨ 이 서브 워크플로우가 하는 일\n\n**ReviewBot (메인)** 에서 아래 상황에 호출됩니다\n- MR 오픈/재오픈 시\n- MR 댓글에 `리뷰봇전체` 입력 시\n\n**처리 흐름**\n1. GitLab API로 MR 전체 변경사항 가져오기\n2. 이미지/바이너리/node_modules 등 불필요 파일 자동 제외\n3. Google Gemini AI가 전체 코드를 보고 핵심 이슈 2~3개 선별하여 리뷰 작성\n4. 작성된 리뷰를 GitLab MR **전체 코멘트**로 자동 등록\n\n**Redis 메모리**\n→ 같은 MR에 대해 `리뷰봇전체`를 여러 번 호출하면 이전 대화 맥락을 기억\n→ Redis 없이 사용할 경우 `Redis Chat Memory` 노드를 제거하면 됨",
        "height": 320,
        "width": 460,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -900
      ],
      "id": "feature-guide-simple-reviewbot-001",
      "name": "Feature Guide Simple"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Write Total Comment": {
      "main": [[]]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Write Total Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set MR Info": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get MR Changes": {
      "main": [
        [
          {
            "node": "MR Preprocessing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MR Preprocessing": {
      "main": [
        [
          {
            "node": "Set MR Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get MR Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "940965ae-5533-442a-b6a7-45631b722488",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_N8N_INSTANCE_ID"
  },
  "id": "lDFEqmcUwfrwCoCXa3ACp",
  "tags": []
}
